@import "./common.scss";
.wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: rem(37px);
    display: flex;
    align-items: center;
    padding: 0 rem(10px);
    background: #FF852A;
    .logo{
        margin-right:rem(8px);
        img{
            display: block;
            height: rem(23px);
        }
    }
    label{
        flex:1;
        height: rem(25px);
        position: relative;
        i{
            position: absolute;
            color: #fff;
            top:50%;
            left: 50%;
            margin-left: rem(-60px);
            transform: translateY(-50%);
        }
        input{
            width: 100%;
            height: 100%;
            border: 0;
            outline: none;
            border-radius: rem(3px);
            background: #FF4E22;
            &::-webkit-input-placeholder{
                color: #fff;
                line-height: normal;
                text-align: center;
            }
        }
    }
}
.main{
    flex: 1;
    overflow-y: auto;
}
.banner{
    width: 100%;
    .banbox{
        width: 100%;
        img{
            width: 100%;
        }
    }
}
.list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top:rem(10px);
    li{
        width: 20%;
        display: flex;
        flex-direction:column;
        align-items: center;
        margin-bottom:rem(10px);
        img{
            height: rem(45px);
        }
        span{
            margin-top: rem(5px);
            font-size: rem(12px);
            color: rgb(102, 102, 102);
        }
    }
}
.title{
    width: 100%;
    height: rem(60px);
    display: flex;
    align-items: center;
    padding: 0 rem(10px);
    img{
        height: rem(40px);
    }
    .textwrap{
        flex: 1;
        height: 100%;
        .textbox{
            width: 100%;
            height: 100%;
            .text{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: rem(10px) rem(8px);
                .news{
                    em{
                        border: 1px solid #FF4E22;
                        color:#FF4E22;
                    }
                }
            }
        }
    }
}
.imgtext{
    width: 100%;
    ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        li{
            padding-top:rem(10px);
            width: 50%;
            display: flex;
            border-bottom:1px solid rgb(165, 165, 165);
            &:nth-child(3){
                border-bottom:0;
            }
            &:last-child{
                border-bottom:0;
            }
            .libox{
                display: flex;
                width: 50%;
                justify-content: center;
                dl{
                    display: flex;
                    flex-direction: column;
                    dt{
                        img{
                            display: block;
                        }
                    }
                    dd{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        h3{
                            font-weight: bold;
                            font-size: rem(14px);
                        }
                    }
                }
            }
        }
    }
}
.footer{
    width: 100%;
    height: rem(42px);
    border-top: 1px solid #eee;
    .btmlist{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        li{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            i{
                font-size: rem(18px);
            }
            span{
                margin-top: rem(-4px);
                font-size: rem(12px);
            }
        } 
    }
}